<!DOCTYPE html>
<html>
  <head>
    <title>Rent</title>
  </head>
  <body>
   

      <label>Your Name:</label><br />
      <input type="text" name="customer_name" required /><br /><br />

      <label>Your Phone:</label><br />
      <input type="text" name="customer_phone" required /><br /><br />

      <label>Start Date:</label><br />
      <input type="date" name="start_date" required /><br /><br />

      <label>End Date:</label><br />
      <input type="date" name="end_date" required /><br /><br />

      <button type="submit">Submit Rental Request</button>
    </form>
  </body>
</html>
